
<h1><span class="col-md-12 mt-5 badge badge-secondary companyCss">Firma Tanımlama</span></h1>

<div class="col-md-12 mt-5 text-center">
    <form id="companyForm" class="form-inline mx-auto" style="width: 730px">

        <div class="input-group">
            <input type="text" class="form-control" style="width: 600px" id="companyName" placeholder="Firma Adı">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="fas fa-save fa-lg"></i> &nbsp;Kaydet </button>
            </span>
        </div>
    </form>
</div>

<hr/>

<table class="table table-bordered mt-2 text-center">
    <thead class="thead-light">
    <tr>
        <th class="w-75">Firma Adı</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    {{#each companies}}
    <tr>
        <td>
            <span class="normalModeElement">{{companyName}}</span>
            <input type="text" class="form-control form-control-sm text-center companyEditInput editModeElement" style="display: none" value="{{cityName}}">
        </td>
        <td>
            <button class="btn btn-success btn-sm editCompany normalModeElement" data-id="{{companyId}}"><i class="fas fa-edit fa-lg"></i> &nbsp;Düzenle</button>
            <button class="btn btn-primary btn-sm updateCompany editModeElement" data-id="{{companyId}}" style="display: none"><i class="fas fa-save fa-lg"></i> &nbsp;Kaydet</button>
            <button class="btn btn-danger btn-sm deleteCompany normalModeElement" data-id="{{companyId}}"><i class="fas fa-trash-alt fa-lg"></i> &nbsp;Sil</button>
            <button class="btn btn-danger btn-sm cancel editModeElement" data-id="{{companyId}}" style="display: none"><i class="fas fa-times-circle fa-lg"></i> &nbsp;İptal</button>
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan="2">Hiç Firma Eklenmemiş</td>
    </tr>
    {{/each}}
    </tbody>
</table>
